@model IEnumerable<Sprint33.Areas.Pharmacist.Models.CustomerOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
}

@*List Orders*@
<div class="card shadow h-100 py-2">
    <div class="card-body">
        @if (!Model.Any())
        {
            <h2 class="text-center">You have no orders</h2>
        }
        else
        {
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary" style="display:inline-block">
                    Orders
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">#</th>
                            <th onclick="sortTable(1)">Customer</th>
                            <th onclick="sortTable(2)">Order Date</th>
                            <th>Payment Option</th>
                            <th onclick="sortTable(4)">Total Cost</th>
                            <th onclick="sortTable(5)">Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.FirstName @item.Surname </td>
                                <td>@item.OrderDate.ToLongDateString()</td>
                                <td>
                                    @if (item.PaymentMethod ==  "Card")
                                    {
                                        <p>Online</p>
                                    }
                                    else
                                    {
                                        <p>Cash on Delivery</p>
                                    }
                                </td>
                                <td>R@(item.TotalCost.ToString("n2"))</td>
                                <td title="@item.OrderStatus.Description" class="table-@item.OrderStatus.Color">
                                    <span>
                                        <i class="@item.OrderStatus.Icon"></i>
                                        @item.OrderStatus.Name
                                    </span>
                                </td>
                                <td>
                                    <div>
                                        @*Dropdown - Action*@
                                        <div class="dropdown no-arrow mb-4" style="display:inline-block">
                                            <button class="btn btn-warning dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-caret-down" style="color:white"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <p class="dropdown-item-text" style="color:#b7b9cc">
                                                    <strong><u>Action:</u></strong>
                                                </p>
                                                @foreach (var statusItem in ViewBag.OrderStatus)
                                                {
                                                    if (item.OrderStatus.Name != "Completed")
                                                    {
                                                        if (item.OrderStatus.Name == statusItem.Name)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            if (statusItem.Name == "Pending Payment")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <a class="dropdown-item" title="@statusItem.Description"
                                                                   href="/Pharmacist/CustomerOrders/ChangeOrderStatus?orderId=@item.Id&statusId=@statusItem.Id">
                                                                    @statusItem.Name
                                                                </a>
                                                            }
                                                        }
                                                    }
                                                }
                                                <hr />
                                                <a class="dropdown-item" target="_blank" href=""#>
                                                <span class="fa fa-file-pdf"></span>
                                                    Invoice
                                                </a>
                                            </div>
                                        </div>
                                        @*Dropdown - View Items*@
                                        <div class="dropdown no-arrow mb-4" style="display:inline-block">
                                            <button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-list" style="color:white"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <p class="dropdown-item-text" style="color:#b7b9cc">
                                                    <strong><u>Products Purchased:</u></strong>
                                                </p>
                                                @foreach (var cartItem in item.CartItems)
                                                {
                                                    <a class="dropdown-item" href="#">
                                                        @cartItem.Product.Name : @cartItem.Quantity
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>