<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Store/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/Store/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Store/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Store/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Store/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Store/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/Content/Store/css/aos.css">

    @*<link rel="stylesheet" href="~/Content/Store/css/style.css">*@

    <link rel="stylesheet" href=@Url.Content("/Content/ThemeTemp/css/style.css")>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Store/css/item.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Store/css/sale.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Store/css/cart.css">

</head>
<body>
    <!--Navigation Menu-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>

            <div class="order-lg-last">
                @if (Session["UserName"] != null && Session["UserName"] != "")
                {
                    if (Session["Title"] == "Doctor")
                    {
                        <a href="@Url.Action("Homepage", "Doctors1", new { area = "" })"
                           class="btn btn-info">
                            <i class="fa fa-tachometer"></i>
                            Dashboard
                        </a>
                    }
                    else if (Session["Title"] == "Patient")
                    {
                        { Html.RenderAction("CartItemsPartial", "Shop"); }

                        <a href="@Url.Action("Homepage", "Patients1", new { area = "" })"
                           class="btn btn-info">
                            <i class="fa fa-tachometer"></i>
                            Dashboard
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Homepage", "Admins1", new { area = "" })"
                           class="btn btn-info">
                            <i class="fa fa-tachometer"></i>
                            Dashboard
                        </a>
                    }
                    <a href="@Url.Action("Login", "Home", new { area = "" })"
                       class="btn btn-primary">
                        Log Out
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Login", "Home", new { area = "" })" class="btn btn-primary">
                        Login @Session["UserName"]
                    </a>
                }
            </div>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="headline">
                            <a class="navbar-brand" href="/Home/FrontPage">
                                <span class="fa fa-user-md fa-2x"></span>
                                Dr J Govender
                            </a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/frontpage">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store/shop/">
                            Store
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home/about">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/contact">
                            Contact
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navigation Menu -->


    <div>
        @RenderBody()
    </div>

    <!--This seperates the Header from the Footer in a shared layout cshtml View -->
    <!-- Footer Section -->
    <footer class="footer ftco-section ftco-no-pt">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget py-4 py-md-5">
                        <h2 class="logo"><a href="#">General Practioner</a></h2>
                        <p>We are a doctors practice located in Shallcross. We aspire to provide our patients with the best medical care, whilst booking their appointments easily and quickly from the comforts of their own home.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget ml-md-5 py-5">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Influenza Vaccination@*</a>*@</li>
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Blood Test@*</a>*@</li>
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Manual Lympahtic@*</a>*@</li>
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Medical Acupuncture@*</a>*@</li>
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Therapeutic Exercise@*</a>*@</li>
                            <li>@*<a href="#" class="py-1 d-block">*@<span class="fa fa-check mr-3"></span>Joint Mobilization@*</a>*@</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget py-4 py-md-5">
                        <h2 class="ftco-heading-2">Contact information</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map-marker"></span><span class="text">37 Magaliesberg Street, Shallcross, Durban< 4079</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">031 409 9088</span></a></li>
                                <li><a href="mailto:cameronpeters87@gmail.com"><span class="icon fa fa-paper-plane"></span><span class="text">drgovender@medis.co.za</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget bg-primary p-4 py-5">
                        <h2 class="ftco-heading-2">Business Hours</h2>
                        <div class="opening-hours">
                            <h4>Opening Days:</h4>
                            <p class="pl-3">
                                <span>Monday – Friday : 9am to 20pm</span>
                                <span>Saturday - Sunday : 9am to 17pm</span>
                            </p>
                            <h4>Vacations:</h4>
                            <p class="pl-3">

                                <span>All Official Holidays</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12 text-center">

                    <p>

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Ingen Development <i class="fa fa-heart" aria-hidden="true"></i> by <a href="Ruvern Mikaelin Naidoo" target="_blank">Ingen Development</a>

                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Content/Store/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Store/js/jquery-ui.js"></script>
    <script src="~/Content/Store/js/popper.min.js"></script>
    <script src="~/Content/Store/js/bootstrap.min.js"></script>
    <script src="~/Content/Store/js/owl.carousel.min.js"></script>
    <script src="~/Content/Store/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Store/js/aos.js"></script>

    <script src="~/Content/Store/js/main.js"></script>

    <script src="~/Areas/Store/Scripts/AddToCart.js"></script>
    <script src="~/Areas/Store/Scripts/ApplyCoupon.js"></script>
    <script src="~/Areas/Store/Scripts/PlaceOrder.js"></script>
</body>
</html>
