@model IEnumerable<Sprint33.PharmacyEntities.CustomerOrder>

@{
    ViewBag.Title = "PharmacyOrders";
    Layout = "~/Views/SharedTemp/_MySharedHome.cshtml";
}

@using PagedList;
@using PagedList.Mvc;


<div class="container">
    <h2>Orders</h2>

    <table class="table">
        <tr class="table-success">
            <th>
                #
            </th>
            <th>
                Order Date
            </th>
            <th>
                Total
            </th>
            <th>
                Payment Method
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.OnePageOfProducts)
        {
            <tr class="bg-white">
                <td>
                    @item.Id
                </td>
                <td>
                    @item.OrderDate.ToLongDateString()
                </td>
                <td>
                    R@(item.TotalCost.ToString("n2"))
                </td>
                <td>
                    @item.PaymentMethod
                </td>
                <td>
                    <a class="btn btn-info"
                       href="@Url.Action("view-order", "Order", new { id = item.Id, area = "store"})">
                        View
                    </a>
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="site-block-27" style="display:inline-block">
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("PharmacyOrders", new { page, patientId = Session["id"] }))
            </div>
        </div>
    </div>
</div>