@model IEnumerable<Sprint33.Models.PrescriptionListViewModel>

@{
    ViewBag.Title = "Patient Prescription";
}

<div class="container">
<h2>Prescription Records</h2>

    @if (!Model.Any())
    {
        <h2 class="text-center">You don't have any records</h2>
    }
    else
    {
        <table class="table table-striped">
    <tr class="table-success">
        <th>
            @Html.DisplayNameFor(model => model.DateIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryName)
        </th>
        <th>
            Item Quatity
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemQuantity)
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("ViewPrescription")?id=@item.Id">
                    <span class="fa fa-eye"></span>
                    View
                </a>
            </td>
        </tr>
    }

</table>

    }
<a type="button" class="btn btn-secondary"
   href="@Url.Action("Homepage", "Patients1")">
    <span class="fa fa-home"></span>
</a>
</div>