
@{ ViewBag.Title = "Homepage"; }
    <div class="container">

        <h2 style="text-align:center; font-family: 'Merienda One', cursive;">Home Page</h2>
        <br>
        <h3 style="text-align:center">Welcome @Session["UserName"] <i class="fa fa-stethoscope"></i></h3>
        <br><br>
        <div class="row">
            <div class="col-md-5 mb-5 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">View List of patients</h2>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("AdminIndex", "Patients1")"
                           class="btn btn-info">
                            <span class="fa fa-user"></span>
                        </a>
                    </div>
                </div>
            </div>

            @*<div class="col-md-4 mb-5 text-center"></div>*@

            <div class="col-md-5 mb-5 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Confirm Patients Bookings</h2>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("ConfirmBooking", "Appointments1")"
                           class="btn btn-info">
                            <span class="fa fa-stethoscope"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-5 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">View Doctors Appointments</h2>
                        @*<p class="card-text">Description</p>*@
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("AdminAppointmentsList", "Appointments1")"
                           class="btn btn-info">
                            <span class="fa fa-medkit"></span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-5 mb-5 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">View Booking Payments</h2>
                        @*<p class="card-text">Description</p>*@
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("AdminIndex", "Orders")"
                           class="btn btn-info">
                            <span class="fa fa-medkit"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-5 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Refunds</h2>
                        @*<p class="card-text">Description</p>*@
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("RefundsIndex", "Orders")"
                           class="btn btn-info">
                            <span class="fa fa-medkit"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>



        <br /><br />
    </div>