<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctor J Govender</title>
    <link rel="shortcut icon" href="~/Content/pink-pills-with-white-tablets-blue-background_23-2147827545.jpg" />

    <!-- Custom fonts for this template-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/PharmacistTemp/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/PharmacistTemp/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href=@Url.Content("/Content/ThemeTemp/css/style.css")>
    <link href="~/Content/PharmacistTemp/css/carret.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               href="@Url.Action("Index", "Dashboard",
                         new
                         {
                             area = "Pharmacist"
                         })">
                <div class="sidebar-brand-text mx-3">
                    <span>
                        Dr J Govender Pharmacy
                    </span>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard",
                                              new
                                              {
                                                  area = "Pharmacist"
                                              })">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                General
            </div>


            <!-- Nav Item - Category -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Categories",
                                         new
                                         {
                                             area = "Pharmacist"
                                         })">
                    <i class="fas fa-fw fa-tags"></i>
                    <span>Category</span>
                </a>
            </li>

            <!-- Nav Item - Products -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Products")">
                    <i class="fas fa-fw fa-medkit"></i>
                    <span>Products</span>
                </a>
            </li>

            <!-- Nav Item - Online Customers -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Customers")">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Online Customers</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Shop
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-paper-plane"></i>
                <span>Sales</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Option:</h6>
                    <a class="collapse-item" href="@Url.Action("NewInStoreSale", "InStoreSales")">
                        In-store Sale (POS)
                    </a>
                    <a class="collapse-item" href="@Url.Action("SalesReport", "InStoreSales")">In-Store Sales Report</a>
                </div>
            </div>
        </li>*@

            <!-- Nav Item - Pages Collapse Menu -->
            @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDiscount" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-gift"></i>
                <span>Discount</span>
            </a>
            <div id="collapseDiscount" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Option:</h6>
                    <a class="collapse-item"
                       href="/pharmacist/coupons">
                        Coupons
                    </a>
                    <a class="collapse-item" href="@Url.Action("Index", "Discount")">
                        On-Sale Products
                    </a>
                    <a class="collapse-item" href="#">Loyalty</a>
                </div>
            </div>
        </li>*@

            <!-- Nav Item - Coupons -->
            <li class="nav-item">
                <a class="nav-link" href="/pharmacist/coupons">
                    <i class="fas fa-fw fa-gift"></i>
                    <span>Coupons</span>
                </a>
            </li>

            <!-- Nav Item - Coupons -->
            <li class="nav-item">
                <a class="nav-link" href="/pharmacist/loyalty/prefs">
                    <i class="fas fa-fw fa-trophy"></i>
                    <span>Loyalty Preferences</span>
                </a>
            </li>

            <!-- Nav Item - Customer Orders -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "CustomerOrders")">
                    <i class="fas fa-fw fa-shopping-basket"></i>
                    <span>Customer Orders</span>
                </a>
            </li>


            <!-- Nav Item - Deliveries -->
            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Deliveries")">
                <i class="fas fa-fw fa-truck"></i>
                <span>Deliveries</span>
            </a>
        </li>*@

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Stock Management
            </div>

            <!-- Nav Item - Supplier -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Suppliers",
                                         new
                                         {
                                             area = "Pharmacist"
                                         })">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Supplier</span>
                </a>
            </li>

            <!-- Nav Item - Purchase Stock -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","StockOrders")">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Stock Orders</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Return To Site -->
                    <div class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-btn">
                        <a href="/store/shop" class="btn btn-primary" type="button">
                            <i class="fas fa-globe fa-sm"></i>
                            Go To Store Page
                        </a>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        @{ Html.RenderAction("_NotificationSection", "Notifications",
                                     new
                                     {
                                         area = "Pharmacist"
                                     });}

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 large">Pharmacist</span>
                                <img class="img-profile rounded-circle" src="/Files/Images/my-profile.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Login", "Home", new { area = "" })" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Login", "Home", new { area = "" })">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/PharmacistTemp/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/PharmacistTemp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/PharmacistTemp/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/PharmacistTemp/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/PharmacistTemp/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/PharmacistTemp/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/PharmacistTemp/js/demo/chart-pie-demo.js"></script>
    <script src="~/Content/PharmacistTemp/js/demo/chart-bar-demo.js"></script>
    <script src="~/Content/PharmacistTemp/js/demo/chart-line.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/table.js"></script>
    <script src="~/Scripts/notificaiton.js"></script>
    <script src="~/Scripts/test.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>
