@model Sprint33.Areas.Pharmacist.Models.NotificationVM

<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        @if (Model.NumberOfUnreadNotifications == 0)
        {
        }
        else
        {
            <span class="badge badge-danger badge-counter">@Model.NumberOfUnreadNotifications +</span>
        }
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Notifications
        </h6>
        @if (!Model.SingleNotification.Any())
        {
            <p class="dropdown-item d-flex align-items-center text-center">
                <span class="font-weight-bold">
                    No notifications to display
                </span>
            </p>
        }
        else
        {
            foreach (var item in Model.SingleNotification)
            {
                <a id="@item.Id" href="#" class="dropdown-item d-flex align-items-center MarkRead"
                    data-id="@item.Id">
                    <div class="mr-3">
                        <div class="icon-circle @item.BackgroundColorIcon">
                            <i class="fas @item.Icon text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">@item.CreatedDate</div>
                        <span class="font-weight-bold">@item.Message</span>
                    </div>
                </a>
            }
        }
        <a class="dropdown-item text-center small text-gray-500" 
           href="@Url.Action("Index", "Notifications")">
            Show All Alerts
        </a>
    </div>
</li>