@model IEnumerable<Sprint33.Areas.Pharmacist.Models.DeliveriesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
}

@*List Orders*@
<div class="card shadow h-100 py-2">
    <div class="card-body">
        @if (!Model.Any())
        {
            <h2 class="text-center">You have no orders being delivered</h2>
        }
        else
        {
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary" style="display:inline-block">
                    Deliveries
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">#</th>
                            <th onclick="sortTable(1)">Customer</th>
                            <th onclick="sortTable(2)">Order Date</th>
                            <th>Address</th>
                            <th>Distance(km) <i class="fa fa-route"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerOrder.Id</td>
                                <td>@item.CustomerOrder.FirstName @item.CustomerOrder.Surname </td>
                                <td>@item.CustomerOrder.OrderDate.ToLongDateString()</td>
                                <td>
                                    @item.CustomerOrder.Address
                                </td>
                                <td>
                                    @(item.Distance.ToString("0.00"))km
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("Directions")?orderId=@item.CustomerOrder.Id" target="_blank" class="btn btn-info btn-sm">
                                        <i class="fa fa-truck-moving"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

