@model IEnumerable<Sprint33.Areas.Pharmacist.Models.DeliveriesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
}

@*List Orders*@
<div class="card shadow h-100 py-2">
    <div class="card-body">
        @if (!Model.Any())
        {
            <h2 class="text-center">You have no orders being delivered</h2>
        }
        else
        {
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary" style="display:inline-block">
                    Deliveries
                </h4>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Times</th>
                            <th>Driver</th>
                            <th>Status</th>
                            <th>Address</th>
                            <th>Distance(km) <i class="fa fa-route"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Delivery.CustomerOrder.Id</td>
                                <td>
                                    Departured:
                                    @item.Delivery.DepartureTime.ToShortDateString()
                                    @item.Delivery.DepartureTime.ToShortTimeString()
                                    @if (item.Delivery.TimeDelivered != null)
                                    {
                                        <br />
                                        <i>
                                            <strong>
                                                Delivered: @item.Delivery.TimeDelivered.Value.ToString("yyyy/MM/dd HH:mm")
                                            </strong>
                                        </i>
                                    }
                                </td>
                                <td>@item.Delivery.Driver.Name</td>
                                <td>
                                    @if (item.Delivery.Status == "In Transit")
                                    {
                                        <i class="fa fa-truck-moving text-warning"></i>
                                    }
                                    @if (item.Delivery.Status == "Completed")
                                    {
                                        <i class="fa fa-check-circle text-success"></i>
                                    }
                                    @item.Delivery.Status
                                </td>
                                <td>
                                    @item.Delivery.CustomerOrder.Address
                                </td>
                                <td>
                                    @(item.Distance.ToString("0.00"))km
                                </td>
                                <td class="text-center">
                                    @if (item.Delivery.Status == "Completed")
                                    {
                                        <a href="@Url.Action("Details")?deliveryId=@item.Delivery.Id" class="btn btn-info btn-sm">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Directions")?deliveryId=@item.Delivery.Id" class="btn btn-info btn-sm">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

